body {
  background-color: #faf8f7;
}

body,
h1,
h2,
h3,
h4,
h5,
a,
p,
.ui.card > .content > .header,
.ui.cards > .card > .content > .header {
  font-family: 'M PLUS Rounded 1c', sans-serif !important;
  color: #1c1c1c;
}
