body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: #faf8f7;
}

h1,
h2,
h3,
h4,
h5,
a,
p,
.ui.card > .content > .header,
.ui.cards > .card > .content > .header,
.ui.card > .content > .description,
.ui.cards > .card > .content > .description {
  font-family: 'M PLUS Rounded 1c', sans-serif !important;

  /* Windowsでのジャギー対策 */
  transform: rotate(0.05deg);
}
