.header {
  margin-bottom: 50px;
}

.navbar {
  padding: 10px 20px 0 10px;
}

.title {
  margin-top: 50px !important;
}

.link {
  color: #1c1c1c;
  font-weight: bold;
  letter-spacing: 2px;
  transition: color 0.3s, letter-spacing 0.3s;
}

.link:hover {
  color: #629df7;
  letter-spacing: 4px;
}
