/* 中央寄せ */
.outer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  margin: 20px 0 14px 0;
}

.segment {
  margin: 0 !important;
  text-align: center;
}

.title {
  margin-bottom: 25px;
}

.buttons {
  margin-bottom: 10px !important;
}

.button {
  width: 150px;
  letter-spacing: 1px;
}

.links {
  padding: 10px 0 20px 0;
}

.column {
  padding: 10px !important;
}
